/*

	Essentials of variables

		//Declaração de variáveis em SCSS
		$cor_padrao: darken(#c24e4b,0);
		$cor_auxiliar: lighten(#1e2c35,0);
		$cor_branca: #fff;
		$radius: .3em;
		$media-query-mobile: "(max-width: 980px)";

*/

$font-title: "Baloo",sans-serif;
$color-graffiti: rgba(14,14,14,0.9);